# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
./updater.tmp.sh
.pnp.js

# testing
/coverage

# production
/build
/dist

# misc
.DS_Store
.env
.env.backup
.env.local
.env.development.local
.env.test.local
.env.production.local
.phpunit.result.cache
.vscode

# log
*.log*

# package lock
package-lock*
yarn.lock*

# secret|public key / certificate
*.pem
*.cer
*.crt
*.der
